<section class="section">
  <div class="container">
    <div class="heading">
      <h1 class="title">Editar Convite</h1>
    </div>

    <%= render 'form', invitation: @invitation %>
    <br>
    <p class="control">
      <%= link_to 'Voltar', invitations_path, class: 'button' %>
    </p>
  </div>
</section>

