.header-image {
  background: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.62)), image-url("home.jpeg") center center no-repeat fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.icon-block {
  font-size:5em;
}

.hero.header-image.is-primary > .hero-head > .nav {
  box-shadow: 0 0 0 rgba(0,0,0,0);
}

#bouncing-arrow {
  animation: bounce 2s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

@mixin effect-button($button-color) {
  &:hover, &:focus, &.is-active {
    background-color: darken($button-color, 10%);
    border-color: transparent;
    color: white;
  }
}

.font-biorhyme {
  font-family: "biorhymebold"; 
}

.button.is-success.is-outlined.bt-dato {
  background-color: transparent;
  border-color: #5EC4B6;
  border-width: 1px;
  color: #5EC4B6;
  @include effect-button(#5EC4B6);
}

.button.is-success.is-outlined.bt-dato-home {
  background-color: transparent;
  border-color: rgb(255, 255, 255);
  border-width: 2px;
  color: rgb(255, 255, 255);
  border-radius: 10px 0 0 10px;
  @include effect-button(#0064A9); 
}

.button.is-success.is-outlined.bt-dato-mobile{
  background-color: #5EC4B6;
  border-color: #5EC4B6;
  border-width: 1px;
  color: rgb(255, 255, 255);
}

.button.is-primary.is-outlined.bt-dato {  
  background-color: transparent;
  border-color: #0064A9;
  border-width: 1px;
  color: #0064A9;
  @include effect-button(#0064A9);  
}

.button.is-primary.is-outlined.bt-dato-home {
  background-color: transparent;
  border-color: #5EC4B6;
  border-width: 2px;
  color: #5EC4B6;
  border-radius: 0 10px 10px 0;
  @include effect-button(#5EC4B6);
}

.button.is-info.is-outlined.bt-dato {
  background-color: transparent;
  border-color: rgb(255, 255, 255);
  border-width: 1px;
  color: rgb(255, 255, 255);
  @include effect-button(#0064A9);
}

.button.is-info.is-outlined.bt-dato-mobile{
  background-color: #0064A9;
  border-color: #0064A9;
  border-width: 1px;
  color: rgb(255, 255, 255);
}

.button.is-danger.is-outlined.bt-dato {
  background-color: transparent;
  border-color: #ffe066;
  color: #ffe066;
  @include effect-button(#ffe066);
}

.button.is-danger.is-outlined.bt-dato-mobile {
  background-color: #fa5252;
  border-color: #fa5252;
  border-width: 1px;
  color: rgb(255, 255, 255);
}

.color-blue {
  color: #0064A9;
}

.color-mint {
  color: #5EC4B6;
}

.color-white {
  color: white;
}

.background-mint {
  background-color: #5EC4B6;
}

.background-blue {
  background-color: #0064A9;
}

.notification.is-info {
  background-color: #5EC4B6;
}

.fix-footer {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 20px;
  margin-top: 10px;
}

.hero.is-large .hero-body {
    padding-bottom: 0;
    padding-top: 0;
}