<p>Prezado(a) <%= @resource.name %>,</p>

<p>Recentemente, você solicitou a redefinição de senha para sua conta na Dato. Para concluir o processo, clique no link abaixo.</p>

<p><%= link_to 'Redefinir agora >', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso não tenha feito esta alteração ou acredita que um usuário não autorizado tenha acessado sua conta, entre em contato conosco no e-mail suporte@dato.ai.</p>
<p>Atenciosamente,</p>
<br>
<p>Suporte da Dato</p>